<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultXmlCmdFile" value="CmdrXCmds.xml"/>
		<add key="ApplicationLogFileNameExtension" value="CmdrX.log"/>
		<add key="LogFileRetentionInDays" value="5"/>
		<add key="DefaultKillJobsRunOnExitCodeGreaterThan" value="99999"/>
		<add key="DefaultKillJobsRunOnExitCodeLessThan" value="-99999"/>
		<add key="DefaultCommandOutputLogFilePathName" value=".\cmdrx\install.log"/>
		<add key="DefaultConsoleCommandExecutor" value="cmd.exe"/>
		<add key="DefaultConsoleCommandExeArguments" value="/c"/>
		<add key="CommandMinTimeOutInMinutes" value="0.5"/>
		<add key="CommandMaxTimeOutInMinutes" value="60.0"/>
		<add key="CommandDefaultTimeOutInMinutes" value="15.0"/>
	</appSettings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>